@import "../../styles/variables.scss";

.devcontact{
    padding: $spacer-1 0;
    background-color: $color-black;

    &__text{
        color: $color-grey-2;
        margin-bottom: $spacer-2;
        text-align: center;
        font-size: calc(7px + 0.6vw);
    }
    &__link{
        margin: 0 $spacer-1;
    }
    &__svg{
        color: $color-grey-2;
    }
}

@include tablet-desktop{
    .devcontact{
        &__text{
            text-align: end;
            font-size: calc(7px + 0.5vw);
        }
    }
}