@import "../../styles/variables.scss";

.reviews{
    background-color: $color-grey-5;
    padding: $spacer-5 0;

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    &__left{
        width: 100%;
    }
    &__card-grp{
        width: 100%;
    }
    &__card{
        width: 99% !important;
        background-color: $color-white;
        box-shadow: 0px 8px 6px -6px $color-grey;
        border-radius: 12px;
        margin: $spacer-4 auto;
        height: 190px;
        position: relative;
        z-index: 999;
        text-align: center;
        padding: $spacer-2;
    }
    &__avatar-bg{
        width: calc(60px + 0.9vw);
        height: auto;
        border-radius: 50%;
        position: relative;
        top: -32px;
        left: 18px;
        background-color: $color-white;
    }
    &__avatar{
        width: calc(50px + 0.9vw);
        height: auto;
        border-radius: 50%;
        position: relative;
        top: 6px;
        left: 5px;
        box-shadow: 0px 5px 10px 0px $color-grey;
    }
    &__content{
        // position: absolute;
        // top: 35%;
        // left: 18px;
        &__name{
            font-size: 18px;
            font-weight: $font-bold;
            text-align: start;
            margin-bottom: $spacer-1;
            margin-top: -$spacer-2;
        }
        &__rating{
            color: $color-gold;
            margin-bottom: $spacer-2;
            text-align: start;
            font-size: 13px;
        }
        &__desc{
            font-size: 12px;
            text-align: start;
        }
    }
    &__right{
        width: 100%;
    }
    &__main-head{
        font-size: calc(32px + 0.9vw);
        color: $color-black;
        font-weight: $font-bold;
        margin-bottom: $spacer-3;
        &--sub-head{
            font-size: calc(20px + 0.9vw);
        }
    }
    &__desc{
        font-size: calc(10px + 0.9vw);
        margin-bottom: $spacer-3;
        color: $color-black;
    }
}