.topdeals {
  padding: 0 0 32px 0;
  background-color: #ffffff;
}
.topdeals__main-head {
  text-align: center;
  font-size: calc(25px + 0.9vw);
  font-weight: 700;
  margin-bottom: 16px;
}
.topdeals__card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.topdeals__card {
  width: 100%;
  border: 1px solid #d0d6f9;
  background-color: #f2f2f2;
  border-radius: 16px;
  margin: 16px 0;
}
.topdeals__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
}
.topdeals__card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 380px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 14px 9px -5px rgba(147, 233, 190, 0.8);
  margin-bottom: 8px;
}
.topdeals__card__head {
  font-size: 20px;
  padding: 8px 0;
  font-weight: 700;
  margin: 0 16px;
}
.topdeals__card__desc {
  font-size: 14px;
  color: #595959;
  margin: 0 16px;
  padding-bottom: 16px;
}
.topdeals__card__price {
  display: flex;
  border-radius: 0 0 16px 16px;
}
.topdeals__card__price__left {
  width: 40%;
  margin: auto;
}
.topdeals__card__price__right {
  width: 60%;
  margin: auto;
}
.topdeals__card__price__head {
  font-size: 16px;
  color: #595959;
  margin: 0 16px;
}
.topdeals__card__price__head--rate {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 8px;
}
.topdeals__card__btn {
  display: flex;
  border-radius: 2.3rem;
  width: 130px;
  min-width: 100px;
  height: 40px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background-image: linear-gradient(90deg, #001a4d, #0055ff);
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
  box-shadow: 1px 2px 5px #0e2e58;
  margin: auto;
  text-decoration: none;
}
.topdeals__card__btn:hover {
  scale: 1.1;
  color: #ffffff;
}
.topdeals hr {
  margin-top: 40px;
}

@keyframes circularMotion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  .topdeals__card {
    width: 76%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .topdeals__card-group {
    justify-content: space-evenly;
    margin: 0 -4px;
  }
  .topdeals__card {
    width: calc(50% - 8px);
    margin: 8px 4px;
  }
  .topdeals__card__content {
    justify-content: flex-start;
  }
  .topdeals__card__image {
    max-height: 390px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .topdeals__card-group {
    justify-content: space-evenly;
    margin: 0 -4px;
  }
  .topdeals__card {
    width: calc(50% - 8px);
    margin: 8px 4px;
  }
  .topdeals__card__content {
    justify-content: flex-start;
  }
  .topdeals__card__image {
    min-height: 430px;
  }
  .topdeals__card__btn {
    max-width: 119px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .topdeals__card-group {
    margin: 0 -8px;
  }
  .topdeals__card {
    width: calc(25% - 16px);
    margin: 8px 8px;
  }
  .topdeals__card:hover {
    scale: 1.03;
    box-shadow: 0px 0px 11px 3px #d0d6f9;
  }
  .topdeals__card__content {
    justify-content: flex-start;
    min-height: 119px;
  }
  .topdeals__card__image {
    max-height: 342px;
  }
}/*# sourceMappingURL=TopDeals.css.map */