@import '../../styles/variables.scss';

.topdeals{
    padding: $spacer-3 0;
    background-color: $color-white;

    &__main-head{
        text-align: center;
        font-size: calc(25px + 0.9vw);
        font-weight: $font-bold;
        margin-bottom: $spacer-3;
    }
    &__card-group{
        display: flex;
        flex-wrap: wrap;
    }
    &__card{
        width: 100%;
        border: 1px solid $color-grey;
        border-radius: 16px;
        &__image{
            width: 100%;
            max-height: 280px;
            border-radius: $spacer-3 $spacer-3 0 0;
            // box-shadow: 0px 14px 9px -5px rgba(147, 233, 190, 0.8);
            // margin-bottom: $spacer-2;
        }
        &__head{
            font-size: 20px;
            padding: $spacer-2 0;
            font-weight: $font-bold;
            margin: 0 $spacer-3;
        }
        &__desc{
            font-size: 14px;
            color: $color-grey-3;
            margin: 0 $spacer-3;
            padding-bottom: $spacer-3;
        }
        &__price{
            display: flex;
            background-color: $color-grey-4;
            border-radius: 0 0 $spacer-3 $spacer-3;
            &__left{
                width: 40%;
                margin: auto;
            }
            &__right{
                width: 60%;
                margin: auto;
            }
            &__head{
                margin: $spacer-0;
                font-size: $spacer-3;
                color: $color-grey-3;
                margin: 0 $spacer-3;
                &--rate{
                    font-size: 18px;
                    color: $color-black;
                    font-weight: $font-bold;
                    margin-bottom: $spacer-2;
                }
            }
        }
        &__btn{
            display: flex;
            border-radius: 2.3rem;
            width: 130px;
            min-width: 100px;
            height: 40px;
            font-size: 13px;
            font-weight: $font-bold;
            align-items: center;
            justify-content: center;
            padding: $spacer-0 $spacer-3;
            color: $color-blue-2;
            border: 1px solid $color-blue-2;
            margin: auto;
            text-decoration: none;
            &:hover{
                scale: 1.1;
                background-image: linear-gradient(90deg,#001a4d,#0055ff);
                color: $color-white;
                border: 1px solid $color-white;
                font-weight: $font-medium;
                box-shadow: 1px 2px 5px $color-blue-2;
            }
        }
    }
}
@keyframes circularMotion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }