@import "../../styles/variables.scss";

.tocontact{
    padding: $spacer-6 0;
    background-color: $color-blue-3;

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    &__left{
        width: 100%;
        text-align: start;
    }
    &__right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__main-head{
        color: $color-white;
        font-size: calc($spacer-5 + 0.9vw);
        font-weight: $font-bold;
        text-align: start;
        margin-bottom: $spacer-3;
    }
    &__desc{
        font-size: calc(10px + 0.9vw);
        color: $color-grey;
        font-weight: $font-regular;
        margin-bottom: $spacer-4;
    }
    &__btn{
        display: flex;
        border-radius: 2.3rem;
        width: calc(130px + 0.9vw);
        min-width: 100px;
        height: 40px;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        padding: $spacer-0 $spacer-3;
        background-image: linear-gradient(145deg,#F9EC7D,#F5B100);
        color: $color-black;
        border: 1px solid $color-gold;
        font-weight: $font-bold;
        box-shadow: 3px -3px 9px 1px $color-gold;
        margin: auto;
        text-decoration: none;
        &:hover{
            scale: 1.1;
            color: unset;
        }
    }
    &__image{
        width: 100%;
        object-fit: cover;
        border-radius: $spacer-6;
        margin-bottom: $spacer-4;
        box-shadow: 0px 16px 11px 0px $color-blue-4;
    }
}

@include mobile-pro{
    .tocontact{
        &__btn{
            font-size: calc(9px + 0.9vw);
        }
        &__image{
            width: 80%;
            max-height: 400px;
        }
    }
}
@include tablet-desktop{
    .tocontact{
        &__wrap{
            flex-wrap: nowrap;
            flex-direction: row;
            gap: 2%;
        }
        &__left{
            width: 50%;
            padding: $spacer-5 0;
        }
        &__right{
            width: 50%;
        }
        &__btn{
            width: 160px;
            font-size: 17px;
            margin: unset;
        }
        &__desc{
            margin: $spacer-6 0;
        }
        &__image{
            max-height: 400px;
        }
    }
}