//break-points
@mixin mobile-mid-range {
    @media (min-width: 421px) and (max-width: 600px) {
        @content;
    }
}

@mixin mobile-pro {
    @media (min-width: 601px) and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-pro-tablet {
    @media (min-width: 601px) and (max-width: 991px) {
        @content;
    }
}

@mixin mobile-tablet {
    @media (max-width: 991.9px) {
        @content;
    }
}

@mixin mobile-pro-desktop {
    @media (min-width: 601px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 991px) {
        @content;
    }
}

@mixin tablet-pro {
    @media (min-width: 992px) and (max-width: 1023px) {
        @content;
    }
}

@mixin tab-tablet-pro {
    @media (min-width: 769px) and (max-width: 1023px) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

//font-variables
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

//layout
$spacer-0: 0;
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;

//colors
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ff8533;
$color-gold: #F5B100; 
$color-green: #00b300;
$color-blue: #1f88c9;
$color-blue-2: #0e2e58;
$color-blue-3: #0C111F;
$color-blue-4: #151e37;
$color-grey: #d0d6f9;
$color-grey-2: #aaaaaa;
$color-grey-3: #595959;
$color-grey-4: #f2f2f2;