@import '../../styles/variables.scss';

.overview{
    background-color: $color-white;
    padding: $spacer-5 0;

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: $spacer-1 0;
    }
    &__left{
        text-align: center;
        width: 100%;
    }
    &__main-header{
        color: $color-black;
        font-weight: $font-bold;
        margin-bottom: $spacer-4;
        font-size: calc(28px + 0.9vw);
    }
    &__desc{
        color: $color-grey-3;
        font-weight: $font-regular;
        margin-bottom: $spacer-4;
    }
    &__image{
        width: 100%;
        margin-bottom: $spacer-5;
    }
    &__right{
        text-align: center;
        width: 100%;
    }
    &__feature-grp{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon-grp{
        width: 25%;
        margin-right: $spacer-3;
        &__icon{
            width: 100%;
        }
    }
    &__content{
        width: 75%;
        text-align: start;
        h3{
            font-size: 18px;
            font-weight: $font-bold;
        }
        p{
            font-size: 12px;
            color: $color-grey-3;
            text-align: start;
        }
    }
}

//mobile-pro
@include mobile-pro{
    .overview{
        &__wrap{
            flex-wrap: nowrap;
            gap: 8%;
        }
        &__left{
            width: 50%;
        }
        &__right{
            width: 50%;
        }
        &__main-header{
            text-align: start;
        }
        &__desc{
            text-align: start;
        }
        &__icon-grp{
            width: 19%;
        }
        &__content{
            width: 81%;
        }
    }
}