* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-wrapper {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}