@import '../../styles/variables.scss';


.banner{
    padding: $spacer-6 $spacer-3;
    background-image: url('../../../assets/background-home-mobile.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    // height: 100vh;

    &__wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: $spacer-5 0;
        gap: 100px;
    }
    &__left{
        text-align: center;
        width: 100%;
    }
    &__main-header{
        color: $color-grey;
        font-size: $spacer-3;
        font-weight: $font-regular;
        line-height: $spacer-5;
        word-spacing: $spacer-1;
        &--main-header{
            color: $color-white;
            font-size: $spacer-6;
            font-weight: $font-regular;
            margin: $spacer-2 0;
            letter-spacing: $spacer-1;
        }
    }
    &__desc{
        color: $color-grey;
        font-size: 14px;
        padding: $spacer-3 0;
        font-weight: $font-regular;
        margin: 0 auto;
    }
    &__right{
        // width: 100%;
        text-align: center;
        display: flex;
        align-items: baseline;
        
    }
    &__explore-bg{
        width: 150px;
        height: 150px;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // position: relative;
        // top: 20%;
        transform: translate(-50%, -50%);
        animation: dance 1s ease-in-out infinite;
    }

    @keyframes dance {
        0% {
            transform: translate(0, 0);
          }
          25% {
            transform: translateY(-5px);
          }
          50% {
            transform: translate(0, 0);
          }
          75% {
            transform: translateY(8px);
          }
          100% {
            transform: translate(0, 0);
          }
      }

    &__explore-p{
        font-size: $spacer-4;
    }
}

// mobile-pro
@include mobile-pro{
    .banner{
        background-image: url('../../../assets/background-home-tablet.jpg');
        &__desc{
            font-size: $spacer-3;
            padding: $spacer-4 $spacer-4;
            line-height: 23px;
        }
        &__main-header{
            font-size: 18px;
            &--main-header{
                font-size: 50px;
                margin: $spacer-3 0;
            }
        }
    }
}


//tablet
@include tablet{
    .banner{
        background-image: url('../../../assets/background-home-tablet.jpg');
        &__desc{
            font-size: 18px;
            padding: $spacer-4 $spacer-5;
            line-height: 23px;
        }
        &__main-header{
            font-size: 19px;
            &--main-header{
                font-size: 55px;
                margin: $spacer-3 0;
            }
        }
    }
}

//tablet-pro
@include tablet-pro{
    .banner{
        background-image: url('../../../assets/background-home-desktop.jpg');
        &__desc{
            font-size: 19px;
            padding: $spacer-5 $spacer-6;
            line-height: 23px;
        }
        &__main-header{
            font-size: 19px;
            &--main-header{
                font-size: 60px;
                margin: $spacer-4 0;
            }
        }
    }
}

//desktop
@include desktop{
    .banner{
        background-image: url('../../../assets/background-home-desktop.jpg');
        &__wrap{
            flex-wrap: nowrap;
            gap: unset;
        }
        &__left{
            width: 50%;
        }
        &__right{
            width: 50%;
            justify-content: flex-end;
            align-items: baseline;
            padding: 0 $spacer-6;
        }
        &__desc{
            max-width: 500px;
        }
        &__main-header{
            font-size: 20px;
            &--main-header{
                font-size: 70px;
                margin: $spacer-4 0;
            }
        }
    }
}