@import "../../styles/variables.scss";

.formsdoc {
    padding: $spacer-5 0 0 0;

    .form-select {
        margin-bottom: $spacer-3;
        width: 100%;
        border: 1px solid $color-black;
    }

    .form-select:focus {
        border-color: unset;
        box-shadow: unset;
    }

    &__banner {
        background-image: url('../../../public/images/ledger-ticket-bg.jpg');
        background-size: cover;
        width: 100%;
        min-height: 500px;
        margin: 0 auto;
    }

    &__top-head {
        position: relative;
        top: 200px;
        text-align: center;
        font-size: calc(1.5rem + .9vw);
        font-weight: $font-bold;
        color: $color-black;
        -webkit-text-stroke: 0.7px $color-white;
    }

    &__body-bg{
        // background: url("../../../assets/background-crew-desktop.jpg");
        // background-size: cover;
        background-color: aqua;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -70px;
        // margin-bottom: $spacer-6;
        // padding-bottom: $spacer-5;
        padding: $spacer-4;
        border-radius: $spacer-2;
        background-color: $color-white;
        border: 1px solid $color-black;
    }

    &__main-head {
        font-size: calc(32px + 0.9vw);
        text-align: center;
        font-weight: $font-bold;
        margin-bottom: $spacer-5;
    }

    &__label-grp {
        display: flex;
        flex-wrap: wrap;

        // justify-content: center;
        .form-control {
            margin-bottom: $spacer-3;
            border: 1px solid $color-black;
        }
    }

    &__radio-grp {
        display: flex;
        width: 100%;
        gap: $spacer-3;
        margin-bottom: $spacer-2;

        &__input {
            margin-right: $spacer-1;
        }

        &__button {
            cursor: pointer;
            min-width: 150px;
            min-height: 40px;
            color: #000;
            background: #fff;
            border: 1px solid $color-black;
            border-radius: 8px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;

            &:hover {
                color: $color-white;
                background: $color-blue;
            }
        }
    }

    .react-datepicker-wrapper {
        width: 100%;
    }

    .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after,
    .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
    .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after,
    .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
        left: -50px;
    }

    .form-control:focus {
        border-color: unset;
        box-shadow: unset;
    }

}

.popup-parent {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 145px;
}

.popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    min-height: 220px;
    z-index: 999;
    background: $color-white;
    padding: 20px 0 10px 0;
    border-radius: 8px;
    border: 1px solid black;
    animation: slideIn 1s ease forwards;
}

.popup-confirm-button {
    text-align: center;

    &__button {
        cursor: pointer;
        min-width: 150px;
        min-height: 35px;
        color: #000;
        background: #fff;
        border: 1px solid grey;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;

        &:hover {
            color: #fff;
            background: $color-blue;
        }
    }
}

.note {
    font-size: 12px;
    text-align: center;
    padding: 0 $spacer-2;
    color: $color-red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.inside-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $spacer-2;

    &__right-grp {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
}

.popup .form-control {
    width: 40%;
}

.value-change-button {
    width: 28px;
    border-radius: 16px;
    border: 1px solid $color-grey;
    background-color: $color-white;
    color: $color-black;
    font-weight: $font-bold;

    &:hover {
        border: 1px solid $color-blue;
        background-color: $color-blue;
    }
}

.popup .form-label {
    margin: unset;
}

@keyframes slideIn {
    0% {
        top: -100px;
    }

    100% {
        top: -120px;
    }
}

@include mobile-pro {
    .formsdoc {
        &__content {
            width: 70%;
            margin: auto;
        }
    }
}

@include tablet-desktop {
    .formsdoc {
        &__content {
            width: 50%;
            margin: auto;
        }
    }
}